{% extends 'base.html.twig' %}

{% block title %}Veuillez vous athentifier{% endblock %}

{% block stylesheets %}
{% endblock %}



{% block body %}



<body class="body">
    <div align="center">
		<!--White box-->
		<div class="container">

        {% if error %}
            <div class="col-4" id="error">
                <div class="card">
                    <div class="card-body">
                        {{error.messageKey | trans(error.messagedata, 'security')}}
                    </div>
                </div>
            </div>
        {% endif %}

			<form action="{{path ('login')}}" method="post">
				<div align="center">
				  	<!--Input for Username-->
			 	   <input type="text" class="user" id="uname" name="_username" placeholder="Username">
			 	   <br>
			 	   		<div>
			 	   	<!--Input for Password-->
			 	   			<input type="password" class="pwd" id="pswd" name="_password" placeholder="Password">	

			 	   	<!--Eye for Password-->
                            <div class="pass">
                                <i class="fa-solid fa-eye-slash" id="eye" onclick="changer()"></i>
                            </div>
				   
					   	</div>
			 		 </div>
			 		<br>

			 	<!--Login Button-->
			 	<div align="center">
                    <input type="submit" class="btn" value="login">
			 	</div>
			</form>
		</div>
	</div>

{% endblock %}


    